$primary: #08874c;
$success: #3db960;

@import "node_modules/bootstrap/scss/bootstrap";

html, body {
    height: 100%;
}

#root {
    height: 100%;
}

.leaflet-container {
    height: 100%;
}

.leaflet-fade-anim .leaflet-popup {
    transition: none !important;
}

.bus-stop-marker {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 0 !important;
    height: 0 !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
}

.limit-height-dropdown {
    overflow-y: auto;
    max-height: 200px;
}

.table-fixed-head thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
    box-shadow: inset 0 -1px 0 var(--bs-table-border-color);
}

.table-fixed-head > thead > tr > th {
    border: none;
}

.table {
    & .bus-table-col1 {
        width: 10%;
    }
}

.export-container {
    z-index: 1090;
    width: unset !important;
}